{%  extends "layout/../layout/basic.html" %}


{% load bootstrap5 %}


{% block title %}Подтвердить сброс пароля{% endblock %}

{% block content %}
    <h2 class="text-center">Подтвердить сброс пароля</h2>
    <div class="w-50" style="margin-left: auto;
    margin-right: auto">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='harizontal' %}
            {% buttons submit='Сбросить пароль' %}{% endbuttons %}
        </form>
    </div>
{% endblock %}
