{% extends "layout/basic.html" %}


{% load bootstrap5 %}


{% block title %}Удаление фотографии - Профиль пользователя{% endblock %}

{% block content %}

    <div class="card" style="width: 60rem; margin-left: auto;
    margin-right: auto">
        <img src="{{ image.image.url }}" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title">Удаление фотографии</h5>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Удалить
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удаление фотографии</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% buttons submit='Подтвердить' %}{% endbuttons %}
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}