{% extends "layout/../layout/basic.html" %}


{% load bootstrap5 %}


{% block title %}Регистрация{% endblock %}

{% block content %}

    <div class="card text-center" style="position: absolute;top: 28%;left: 30%;background: #f0f0f0;">
        <div class="card-header">
            Регистрация нового пользователя
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='harizontal' %}
                {% buttons submit='Зарегистрироваться' %}{% endbuttons %}
            </form>
        </div>
    </div>

{% endblock %}
