{% extends 'layout/../layout/basic.html' %}


{% load bootstrap5 %}


{% block title %}Сброс паоля{% endblock %}

{% block content %}

    <div class="card text-center" style="position: absolute;top: 28%;left: 25%;background: #f0f0f0; width: 50%">
        <div class="card-header">
            Сброс пароля
        </div>
        <div class="card-body">
            <h5 class="card-title">Забыли пароль? Для сброса пароля введите свой адрес электронной почты.</h5>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='harizontal' %}
                {% buttons submit='Отправить письмо' %}{% endbuttons %}
            </form>

        </div>

    </div>
{% endblock %}